body {
  font-family: "Garamond", Garamond, serif;
  color: #faf9f9;
}

ol{
  list-style-type:none; 
  overflow:hidden;
  width:500px;
  height:45px;
  margin:0 auto;
}

.player {
  float:left;
  margin:20px;
  color:black;
}

.player a{
  text-decoration:underline;
  color: white;
 }

.player a:hover{
  color:navy;
  font-size:larger;
}

.jumbotron {
  background-image: url("../../images/NBA_Greats.jpg");
  background-size: 100% 100%;
  text-align: center;
  height: 500px
} 

h2 {
  text-shadow: 1px 1px 2px black, 0 0 25px crimson, 0 0 5px darkred;
  text-decoration: underline;
}

h4 { 
  text-align: center;
}

h1 {
  text-align: center;
}

h5 {
  color: white;
  font-size: 12px;
  font-family: "Garamond", Garamond, serif;
}

h6 {
  text-align: center;
}

Object {
  background-image: url("../../images/ML_Features.png");
  width: 100%; 
  height: 100%;
  background-repeat: no-repeat; 
  background-size: contain;
}

.team-photo {
  text-align: center;
}

p {
  text-shadow: 1px 1px 2px black, 0 0 25px crimson, 0 0 5px darkred;
  font-size: 24px;
  font-family: "Garamond", Garamond, serif;
}


label {
  color: white;
  font-size: 20px;
  text-decoration: underline;
  font-family: "Garamond", Garamond, serif;
}

.btn {
  text-align: center;
  cursor: pointer;
  outline: black;
  color: #fff;
  background-color: gray;
}

.btn:hover {
  background-color: indianred;
  box-shadow: 0 5px #666;
}

.btn:active {
  background-color: indianred;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.basketball {
  position: relative;
  top: 50px;
  left:-50px;
}

.ball {
  position: absolute;
  background-color: #e76f51;
  border-radius:50%;
  width:100px;
  height:100px;
  overflow: hidden;
  border: 3px solid #333;
  animation: bounce 1.5s ease-in infinite;
}

@keyframes bounce {
   0% {transform: translate3d(0, 0, 0) rotate(0deg);}
  25% {transform: translate3d(0, -185px, 0) rotate(90deg);}
  50% {transform: translate3d(0, 0, 0) rotate(180deg);}
  75% {transform: translate3d(0, -185px, 0) rotate(270deg);}
  100% {transform: translate3d(0, 0, 0) rotate(360deg);}
}

.ball:before, .ball:after {
  content:"";
  position: absolute;
  background-color: #333;
  width:110px;
  height:3px;
  top:50px;
  left:-5px;
}

.ball:before {
  transform: rotate(45deg);
}

.ball:after {
  transform: rotate(-45deg);
}

.lines {
  position: absolute;
  border-radius:50%;
  border: 3px solid #333;
  width:70px;
  height:70px;
  left:-20px;
  top:-20px;
}

.lines:before {
  content:"";
  position: absolute; 
  border-radius:50%;
  border: 3px solid #333;
  width:70px;
  height:70px;
  top:65px;
  left:60px;
}

.shadow {
  position: absolute;
  width:100px;
  height:15px;
  background-color: rgba(0,0,0,0.2);
  border-radius:50%;
  top:95px;
  z-index:-1;
  left:3px;
  animation: scale 1.5s ease-in infinite;
}

@keyframes scale {
  0% {transform: scaleX(1);}
  25% {transform: scaleX(0.7);}
  50% {transform: scaleX(1);}
  75% {transform: scaleX(0.7);}
  100% {transform: scaleX(1);}
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ae1602;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ae1602;
  cursor: pointer;
}