<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Prime Time!</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/style2.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body style="background-color:cornflowerblue;">
    <div class="wrapper">
        <nav class="navbar" style="background-color:cornflowerblue;">
          <ol>
            <li class="player"><a href="index.html">Home</a></li>
            <li class="player"><a href="project2.html">Project Overview</a></li>
            <li class="player"><a href="team2.html">Meet the Team</a></li>
          </ol>
        </nav>
    </div>
    <div class="jumbotron">
        <h1 class="display-4"></h1>
    </div>
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <h2> Initial Analysis</h2>
            <h3>Important bullets: <br><br> <small> bullet point  <br><br> bullet point <br><br> bullet point</small></h3>
          </div>
          <div class="col-md-4">
              <p> Insert visualization about initial analysis </p>
          </div>
          <div class="col-md-4">
            <p1 style="font-size:large">
              something else
            </p1>
          </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2> Machine Learning</h2>
                <h3>Important bullets: <br><br> <small> bullet point  <br><br> bullet point <br><br> bullet point</small></h3>
              </div>
              <div class="col-md-4">
                  <p> Insert visualization about Machine learning </p>
              </div>
              <div class="col-md-4">
                <p1 style="font-size:large">
                  something else to continue story
                </p1>
              </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script src="static/js/data2.js"></script>
    <script src="static/js/app2.js"></script>
</body>
</html>