<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Prime Time!</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/style2.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body style="background-color:cornflowerblue;">
    <div class="wrapper">
        <nav class="navbar" style="background-color:cornflowerblue;">
          <ol>
            <li class="player"><a href="index.html">Home</a></li>
            <li class="player"><a href="project2.html">Project Overview</a></li>
            <li class="player"><a href="team2.html">Meet the Team</a></li>
          </ol>
        </nav>
    </div>
    <div class="jumbotron">
        <h1 class="display-4"></h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <h1 class="col-md-12 align-self-center section-header">Meet the Team</h1>
        </div>
        <div class="row">
            <div class="col-md-6 align-self-center team-photo stephen">
              <div class="team-photo-name">
                <h4>Stephen Crimi</h4>
                <h6>Machine Learning</h6>
                <img class= "team-photo" src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/105779355/original/79645c942adc4fd8e54ccc7d65303c86dafc49b0/draw-a-pixel-art-portrait-of-you.png" alt="hoop" width="250" height="250">
              </div><!--End Name-->
            </div><!--End Row-->
            <div class="col-md-6 align-self-center team-photo reed">
              <div class="team-photo-name">
                <h4>Reed Daniel</h4>
                <h6>Dashboard</h6>
                <img class= "team-photo" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/49f62a80-df0e-4650-95c7-12930428c2ad/db3oypd-4f133f18-a3db-4eb4-8733-b5c1337b3b2d.png/v1/fill/w_894,h_894,q_70,strp/pixel_art_profile_image_by_lonezi_db3oypd-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAwMCIsInBhdGgiOiJcL2ZcLzQ5ZjYyYTgwLWRmMGUtNDY1MC05NWM3LTEyOTMwNDI4YzJhZFwvZGIzb3lwZC00ZjEzM2YxOC1hM2RiLTRlYjQtODczMy1iNWMxMzM3YjNiMmQucG5nIiwid2lkdGgiOiI8PTEwMDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.Ei3TY26IpaYnCHBca6A47ZvIlMG4AXuV9DvuMZh3VUU" alt="hoop" width="250" height="250">
              </div><!--End Name-->
            </div> 
          </div><!--End Row-->
          <div class="row">
            <div class="col-md-6 align-self-center team-photo jason">
              <div class="team-photo-name">
                <h4>Jason Klein</h4>
                <h6>Database</h6>
                <img class= "team-photo" src="https://i.pinimg.com/originals/c5/99/20/c599207dd5d45e50924e5a6c88d16da8.png"  alt="hoop" width="250" height="250">
              </div><!--End Name-->
            </div>
            <div class="col-md-6 align-self-center team-photo kelly">
              <div class="team-photo-name">
                <h4>Kelly McClelland</h4>
                <h6>Github Repository</h6>
                <img class= "team-photo" src="https://sp-ao.shortpixel.ai/client/to_auto,q_glossy,ret_img,w_533,h_715/https://offshoreinspectiongroup.com/wp-content/uploads/2020/05/meet-our-experts-kelly-OIG.jpg" alt="hoop" width="250" height="250">
              </div><!--End Name-->
            </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script src="static/js/data2.js"></script>
    <script src="static/js/app2.js"></script>
</body>
</html>